<ul class="navbar-list d-flex gap-5">
    <li class="navbar-item " routerLinkActive="active">
        <a class="navbar-link" routerLink="/home" >Home</a>
    </li>
    <li class="navbar-item" routerLinkActive="active">
        <a class="navbar-link" routerLink="/servers" >servers</a>
    </li>
    <li class="navbar-item" routerLinkActive="active">
        <a class="navbar-link" routerLink="/todos">todos</a>
    </li>
    <li class="navbar-item" routerLinkActive="active">
        <a class="navbar-link" routerLink="/users">users</a>
    </li>
    <li class="navbar-item" routerLinkActive="active">
        <a class="navbar-link" routerLink="/project">project</a>
    </li>
    <li class="navbar-item" routerLinkActive="active">
        <a class="navbar-link" routerLink="/news">news</a>
    </li>
</ul>
<p class="d-flex justify-content-center" [ngStyle]="{'color' : 'red', 'font-weight' : 'bold'}">hello {{title | uppercase}}</p>

<router-outlet></router-outlet>