<!-- تسک -->

<!-- ایجاد یک فرم با کنترل‌ها و اعتبارسنجی‌های زیر:

۱) نام پروژه (نباید خالی باشد)
۲) پست الکترونیکی (نباید خالی باشد و باید یک آدرس ایمیل معتبر باشد)
۳) لیست انتخاب وضعیت پروژه با سه مقدار: 'پایدار', 'بحرانی', 'اتمام یافته'
۴) دکمه ارسال

یک اعتبارسنجی خودتان اضافه کنید که به عنوان نام پروژه "Test" را قبول نمی‌کند.

همچنین این اعتبارسنجی را به عنوان یک اعتبارسنجی ناهمزمان (async Validator) پیاده‌سازی کنید (و اعتبارسنجی قبلی را جایگزین کنید).

پس از ارسال فرم، مقدار را به سادگی در کنسول چاپ کنید. -->

<h1 class="d-flex justify-content-center mt-3 m-auto mb-3">{{x()}}</h1>

<div class="d-flex justify-content-center">
    <form action="" (ngSubmit)="submitForm()" [formGroup]="projectForm">
        <div class="mb-2">
            <input type="text" formControlName="projectName" name="projectName" id="projectName" placeholder="project name">
        </div>
        <p style="color: red; font-size: 14px;" *ngIf="this.projectForm.get('projectName')?.touched && !this.projectForm.get('projectName')?.value">please set your project name</p>
        <div class="mb-2">
            <input type="text" formControlName="email" name="email" id="email" placeholder="email">
        </div>
        <p style="color: red; font-size: 14px;" *ngIf="this.projectForm.get('email')?.touched && !this.projectForm.get('email')?.value">please set your email name</p>
        <p style="color: red; font-size: 14px;" *ngIf="this.projectForm.get('email')?.errors && this.projectForm.get('email')?.touched">your email is not Valid</p>
        <div>
            <select formControlName="status" name="project-status" id="project-status">
                <option value="Stable" id="Stable">Stable</option>
                <option value="Critical" id="Critical">Critical</option>
                <option value="Finished" id="Finished">Finished</option>  
            </select>
        </div>
        <div formArrayName="skills" class="mt-2" *ngFor="let skill of mySkills ; let i = index ">
            <input [formControlName]="i" type="text">
        </div>

        <button class="btn btn-primary d-flex justify-content-center mt-3" type="submit">Submit Project</button>
    </form>
</div>
